{% extends 'base.html.twig' %}
{% block content %}
    <div class="form-outline containerSearch">
        <input type="search" id="form1" class="form-control searchBar" placeholder="" aria-label="Search" />
    </div>
        {% include 'home/card.html.twig' %}
{% endblock %}
