{% extends 'base.html.twig' %}
{% block content %}
    <div class="form-outline containerSearch">
        <div class="searchBar">
            {{ form(form) }}
        </div>
    </div>
        {% include 'home/card.html.twig' %}
{% endblock %}
