{% extends 'base.html.twig' %}

{% block title %}Annonce proprietaire
{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
	<script>
		$('.custom-file-input').on('change', function (event) {
let inputFile = event.currentTarget;
$(inputFile).parent().find('.custom-file-label').html(inputFile.files[0].name);
});
	</script>
{% endblock %}


{% block  content %}
	<h1 class=" text-center">Formulaire proprietaire</h1>

	{% if is_granted("ROLE_USER") %}
		<h3>
			{{ app.user.username }}</h3>

		{{ form_start(form) }}

		{{ form_end(form) }}
		{% else %}
		{# {{ redirect(path('app_home')) }} #}
	{% endif %}


{% endblock %}
