{% extends 'base.html.twig' %}

{% block title %}Annonce proprietaire
{% endblock %}


{% block  content %}

	<h1 class=" text-center">Formulaire proprietaire</h1>

	{{ form_start(form) }}

	{{ form_end(form) }}


{% endblock %}
