{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block content %}
	<h1 class='text-center'>Formulaire propriétaire</h1>


	{# {{form(form)}} #}
	{{ form_start(form) }}

	{{ form_end(form) }}


{% endblock %}
