.navbar-item-custom ,.navbar-item-custom a {
    color: #FFFFFF;
}
.footer-custom{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 25px;

}
.connect {
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: 0;
}
p {
    margin-bottom: 0;
}
.title {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.navigationbar, .navigationbar a {
    color: #03045E;
}
.searchBar {
    box-sizing: border-box;
    border: 1px solid #03045E;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.containerSearch {
    margin: 1em 2em;
}
.homeCard{
    box-sizing: border-box;
    border-radius: 15px;
    border: 0.1rem solid #03055E;
}
.homeImg{
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.containerCard {
    margin: 2rem 0;
}
.bold{
    font-weight: bold;
}
hr, .borderblue {
    border: 1px solid #03095E;
}
.darkblue {
    color: #03095E;
}
.backgroundDarkblue {
    background-color: #03095E;
}
.btnRadius{
    border-radius: 3.2rem;
}
.fw-600{
    font-weight: 600;
}
.smallFont {
    font-size: 0.8rem;
}
.registerForm button {
    background-color: #03095E;
    border-color: #03095E;
    border-radius: 1.25rem;
}
.nopadding{
    padding: 0;
}