{% extends 'base.html.twig' %}
{% block content %}
    <hr>
    <div class="row text-center mt-5 darkblue">
        <div class="col mx-5 registerForm">
            <h1>Inscription</h1>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}